.cnode {
    
}
.cnode-header {
    display: flex;
    color: #ee6e73;
}
.cnode-body {
    width: 100vw;
}
.topic {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ee6e73;
    box-shadow: 5px 5px 5px 0px #ee6e73;
}